doctype html
include head

body
	//- 这个wrapper是用在post页面类型，为了toc而存在的
	#body-inner-wrapper
		include header
		if is_post()
			block TOC		
			block mainContent			
		else		
			block mainContent		

		include pagination.pug
		include footer
		//- include after-footer.pug
		| !{partial('includes/after-footer', null, {cache: true})}
