//- 这个文件是放在博文里头，所以，这里的page是post的page
-
	var tags = [];
	if (is_post())
		if (page.tags && page.tags.length)
			page.tags.forEach(function(item) {
				tags.push('<a class="post-tag" href="' + url_for(item.path) + '">#' + item.name + '</a>');
			});

	if (is_archive())
		if (value.tags && value.tags.length)
			value.tags.forEach(function(item) {
				tags.push('<a class="post-item-tag-link" href="' + url_for(item.path) + '">#' + item.name + '</a>')
			});

if tags.length>0
	if is_post()
		#post-tags-container
			i.fa.fa-tags
			|  !{tags.join("  ")}
	if is_archive()
		.post-group-item-tags
			i.fa.fa-tags
			|  !{tags.join("  ")}


